/* add your CSS here */
.main{
	width: 300px;
	border: groove;
	box-shadow:  5px 5px 5px #888888;
	padding: 1% 1%;
}
.name{
	border: none;
}
.image{
	border: none;
	margin-bottom: 5px;
    height: 200px;
    width:300px;
    overflow: hidden;
}
.details{
	padding: 1% 1%;
	border: groove;
}
.fact{
	margin: 5px;
	text-align: justify;
	font-style: italic;
}
.lists{
	list-style: none;
   
}
.labels{
	font-weight: bold;
}
.description{
	margin: 5px;
	text-align: justify;
}
